# dependencies
node_modules/

# environment variables
.env
.env.*
backend-node/.env

# build folders
build/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# editor files
.vscode/
.idea/

# optional (if using Vite)
*.local